In [49]:
import pandas as pd

In [71]:
estaciones = pd.read_csv("estaciones_bicis .csv")
estaciones.head()

,ID,NUMERO,NOMBRE,DIRECCION,BARRIO,COMUNA,EMPLAZAMIENTO,ANCLAJES,QUEDA ABIERTA,Latitud,Longitud
0,202,1,FACULTAD DE DERECHO,"2120 Figueroa Alcorta, Pres. Av.",RECOLETA,COMUNA 2,VEREDA,30.0,1,-34.5842,-58.3905
1,2,2,RETIRO I,"Ramos Mejia, Jose Maria, Dr. Av. & Del Liberta...",RETIRO,COMUNA 1,PLAZA ABIERTA,36.0,1,-34.5927,-58.3751
2,3,3,ADUANA,Moreno & Azopardo,MONSERRAT,COMUNA 1,VEREDA,20.0,1,-34.6112,-58.3696
3,4,4,PLAZA ROMA,Lavalle & Bouchard,SAN NICOLAS,COMUNA 1,CALZADA,20.0,1,-34.6018,-58.3691
4,5,5,PLAZA ITALIA,2601 Sarmiento Av.,PALERMO,COMUNA 14,VEREDA,42.0,1,-34.5808,-58.4204

In [80]:
print(len(estaciones.NOMBRE.unique()))
print(len(estaciones.ID.unique()))
print(len(estaciones.NUMERO.unique()))

471
459
400

In [21]:
print(estaciones["EMPLAZAMIENTO"].unique())
estaciones.describe()

471
['VEREDA' 'PLAZA ABIERTA' 'CALZADA' 'PLAZOLETA' 'PLAZA CERRADA'
 'VEREDA/dentro del ministerio' 'PLAZA']

,ID,NUMERO,ANCLAJES,QUEDA ABIERTA,Latitud,Longitud
count,471.000000,471.000000,469.000000,471.000000,471.000000,471.000000
mean,260.628450,204.095541,18.287846,0.912951,-34.603935,-58.431409
std,149.186874,115.839422,4.925544,0.751496,0.028303,0.041611
min,2.000000,1.000000,6.000000,0.000000,-34.683200,-58.521700
25%,131.500000,104.500000,16.000000,1.000000,-34.623250,-58.464900
50%,263.000000,206.000000,20.000000,1.000000,-34.604800,-58.432800
75%,387.500000,307.000000,20.000000,1.000000,-34.585400,-58.397050
max,519.000000,400.000000,48.000000,3.000000,-34.541400,-58.355600

In [ ]:
e())
febrero.head()

In [52]:
estaciones["QUEDA ABIERTA"].unique()

array([1, 0, 3])