In [1]:
#latitudes de barrio 
'''calcular latitud promedio para cada barrio: 
    si tiene una sola estacion: dejar las coordenadas que tenga esa estacion 
    si tiene 3 o mas estaciones: triangular las 3 coordenadas para sacar un punto medio 
    si tiene 2: calcular las coordendas intermedias entre las 2 '''

'calcular latitud promedio para cada barrio: \n    si tiene una sola estacion: dejar las coordenadas que tenga esa estacion \n    si tiene 3 o mas estaciones: triangular las 3 coordenadas para sacar un punto medio \n    si tiene 2: calcular las coordendas intermedias entre las 2 '

In [2]:
import pandas as pd 
import math 
estaciones = pd.read_csv("estaciones_bicis .csv")
distancias = pd.read_csv("distancia_de_viaje.csv")

In [7]:
def crearFormatID(fila):
    #La funcion devuelve la cadena concatenada de el indice con 3 cifras y el nombre
    id = str(fila[1]).zfill(3)
    return f"{str(id)} - {str(fila[2])}"
import unicodedata

def procesar_string(input_string):
    # Convertir a mayúsculas
    input_string = input_string.upper()
    # Eliminar tildes
    input_string = ''.join((c for c in unicodedata.normalize('NFD', input_string) if unicodedata.category(c) != 'Mn'))
    input_string.strip()
    input_string = input_string.replace("-", " - ")
    return input_string

In [10]:
tablaDeLatitudes = pd.DataFrame()
estaciones["FormatId"] = estaciones.apply(crearFormatID, axis=1)
tablaDeLatitudes = estaciones[['FormatId','Latitud','Longitud','BARRIO']] 
tablaDeLatitudes['FormatId'] = estaciones['FormatId'].apply(procesar_string)

/run/user/1000/app/org.jupyter.JupyterLab/ipykernel_4567/455673317.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tablaDeLatitudes['FormatId'] = estaciones['FormatId'].apply(procesar_string)

                        FormatId  Latitud  Longitud            BARRIO
0    001  -  FACULTAD DE DERECHO -34.5842  -58.3905          RECOLETA
1               002  -  RETIRO I -34.5927  -58.3751            RETIRO
2                 003  -  ADUANA -34.6112  -58.3696         MONSERRAT
3             004  -  PLAZA ROMA -34.6018  -58.3691       SAN NICOLAS
4           005  -  PLAZA ITALIA -34.5808  -58.4204           PALERMO
..                           ...      ...       ...               ...
466              314  -  ALLENDE -34.6147  -58.5116      VILLA DEVOTO
467      266  -  PLAZA SABATTINI -34.6124  -58.4433         CABALLITO
468               055  -  HABANA -34.5865  -58.4949  VILLA PUEYRREDON
469  041  -  PARQUE PATRICIOS II -34.6374  -58.4057  PARQUE PATRICIOS
470                080  -  VALLE -34.6244  -58.4342         CABALLITO

[471 rows x 4 columns]

In [32]:
tablaDeLatitudes = tablaDeLatitudes.sort_values('BARRIO')
tablaDeLatitudes['BARRIO'].value_counts()

BARRIO
PALERMO                41
BELGRANO               28
SAN NICOLAS            27
CABALLITO              26
BALVANERA              22
FLORES                 21
RECOLETA               21
ALMAGRO                18
MONSERRAT              17
RETIRO                 13
PUERTO MADERO          13
BOCA                   12
VILLA URQUIZA          11
PARQUE PATRICIOS       11
VILLA CRESPO           11
COLEGIALES             10
PARQUE CHACABUCO       10
SAAVEDRA               10
BARRACAS               10
NUEVA POMPEYA          10
NUÑEZ                   9
CHACARITA               8
VILLA DEL PARQUE        8
FLORESTA                7
BOEDO                   7
PATERNAL                7
VILLA GENERAL MITRE     6
VILLA DEVOTO            6
VILLA LUGANO            6
SAN TELMO               6
VILLA ORTUZAR           5
VILLA PUEYRREDON        5
VILLA LURO              4
PARQUE CHAS             4
SAN CRISTOBAL           4
PARQUE AVELLANEDA       4
CONSTITUCION            4
COGHLAN                 4
MONTE CASTRO            3
DEVOTO                  3
VILLA SANTA RITA        3
VILLA SOLDATI           3
AGRONOMIA               3
MATADEROS               2
LINIERS                 2
VILLA REAL              2
VELEZ SARFIELD          1
VELEZ SARSFIELD         1
VERSALLES               1
MATADERO                1
Name: count, dtype: int64

In [37]:
ubicacion_media_por_barrio = tablaDeLatitudes.groupby('BARRIO').agg({'Latitud': 'mean', 'Longitud': 'mean'}).reset_index()

ubicacion_media_por_barrio[:5]

      BARRIO    Latitud   Longitud
0  AGRONOMIA -34.593233 -58.486207
1    ALMAGRO -34.607628 -58.419772
2  BALVANERA -34.608845 -58.402159
3   BARRACAS -34.644030 -58.380860
4   BELGRANO -34.555647 -58.451378

In [49]:
#lo convierto a string para comodidad de transformado en power bi
ubicacion_media_por_barrio['Latitud'] = ubicacion_media_por_barrio['Latitud'].apply(lambda latitud : str(latitud))
ubicacion_media_por_barrio['Longitud'] = ubicacion_media_por_barrio['Longitud'].apply(lambda longitud : str(longitud))

In [50]:
ubicacion_media_por_barrio.to_csv("ubicacion_de_cada_barrio.csv")